@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("./Lato-Thin.ttf") format("ttf");
    font-display: swap; /* чтобы шрифт не блокировался и имел бесконечный период подмены */
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("./Lato-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("./Lato-Medium.ttf") format("ttf");
    font-display: swap;
}
  
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("./Lato-Bold.ttf") format("ttf");
    font-display: swap;
}