@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("./source/fonts/Lato-Thin.ttf") format("ttf");
    font-display: swap; /* чтобы шрифт не блокировался и имел бесконечный период подмены */
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("./source/fonts/Lato-Regular.ttf") format("ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("./source/fonts/Lato-Medium.ttf") format("ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("./source/fonts/Lato-Bold.ttf") format("ttf");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 0.8vw;
    font-weight: 400;
    color: #000000;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

  .container {
    width: 90vw;
    margin: 0 auto;
  }

  .button {
    cursor: pointer;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.link {
    text-decoration: none;
}

.nav__active:hover,
.nav__active-link {
    text-underline-position: under;
    border-bottom: 2px solid #b5292c;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.scroll-prev,
.scroll-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background: #ffffff82;
}

.scroll-next svg,
.scroll-prev svg {
    height: 2rem;
}

.scroll-next {
    background-color: #ffffff;
}

.scroll-next svg {
    fill: #000;
}

.scroll-prev svg {
    transform: rotate(180deg);
}

.scroll-prev:active,
.scroll-next:active {  
    background-color: #b5292c;
}

.scroll-prev:active svg,
.scroll-next:active svg {
   fill: #fff;
}

.breadcrumbs {
    display: flex;
    position: relative;
}

.breadcrumbs-item:not(:last-child) {
    padding-right: 1.2vw;
}

.breadcrumbs-item::after {
    position: absolute;
    top: 1.3vh;
    left: 3.9vw;
    display: block;
    width: 8px;
    height: 7px;
    content: "/";
}

.breadcrumbs-link {
    position: relative;
    font-family: inherit;
    font-size: 1vw;
    line-height: 29px;
    color: #656666;
}

.active-breadcrumbs {
    text-decoration: underline;
    text-underline-position: under;
}

.categories__pagination-bottom {
    display: flex;
    justify-content: center;
    margin: 45px;
}

.pagination-list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

.pagination-link {
    display: flex;
    min-width: 20px;
    padding: 4px 2px;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #B1B1B0;
}

.pagination-icon {
    height: 20px;
}

.categories__filter--wrapper {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.categories__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.categories__filter-form {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #656666;
}

.categories__filter-form::after {
    content: "|";
    position: absolute;
    right: -14px;
    color: #808080;
}

.form-select {
    margin-right: 0.5vw;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #656666;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.categories__filter--number {
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #B1B1B0;
}

.categories__filter--number-text,
.categories__filter--number-one {
    color: #656666;
}


/* HEADER */
.main-header {
    position: fixed;
    background: white;
    width: 100vw;
    z-index: 1;
    border-bottom: solid 0.4vh rgba(51, 51, 51, 0.5);
    transition: all 0.3s;
}

.main-header__supinfo {
    height: 38px;
    background-color: #b5292c;   
}

.supinfo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.65vw 0;
    font-family: inherit;
    font-weight: 300;
    color: white;
    transition: all 0.3s;
}

.main-header-out {
    transform: translateY(-30%);
}

.supinfo-text {
    margin: 0;
    font-size: 0.9vw;
    text-transform: uppercase;
}

.supinfo-data {
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

.supinfo-data__text {
    display: flex;
    align-items: center;
}

.form-head__select {
    padding: 0 10px 0 7px;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: 300;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
}

.form-head__select option {
    height: 2vh;
    border: 1px solid #B1B1B0;
    color:#000;
}

.supinfo-data__social {
    display: flex;
    gap: 0 1rem;
    align-items: center;
}

.facebook-header,
.instagram-header {
    width: 18px;
    height: auto;
    fill: #fff;
}

.facebook-header:hover,
.instagram-header:active,
.instagram-header:hover,
.instagram-header:active {
    opacity: 0.7;
}

.supinfo-data__text-link {
    font-size: 0.9vw;
    color: white;
}


.supinfo-data__social-tel {
    margin-right: 5vw;
    font-size: 0.9vw;
    color: white;
}

.supinfo-data__social-tel:hover,
.supinfo-data__social-tel:active {
    opacity: 0.6;
}

.navigation__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.logo-header__img {
    width: auto;
    max-width: 20vw;
}

.logo-header__img:hover,
.logo-header__img:active {
    opacity: 0.7;
}

.menu-link {
    display: flex;
    gap: 0 3.5vw;
    align-items: center;
}

.menu-link__auth-mobil {
    display: none;
}

.nav__list {
    display: flex;
    gap: 0 1rem;
}

.nav__item {
    position: relative;
}

.nav__item-link {
    padding: 1.2vw;
    font-family: inherit;
    font-weight: 700;
    font-size: 0.9vw;
    color:#000000;
    text-transform: uppercase;
}

.menu-link__client--list {
    display: flex;
    gap: 0 1vw;
}

.link__auth:hover,
.link__card:hover,
.link__search:hover {
    opacity: 0.6;
}

.menu-link__client-button {
    display: none;
}

.menu-link__info-mobil {
    display: none;
}

.nav-header__border {
    display: none;
}

.submenu {
    display: none;
}

.nav__item:hover .submenu-about, 
.nav__item:focus-within .submenu-about,
.nav__item:hover .submenu-goods, 
.nav__item:focus-within .submenu-goods {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 14px;
    width: 25vw;
    padding: 30px 30px 30px 0px;
    border: 1px solid #B1B1B0;
    background: white;
}

.submenu-about .nav__item-link:not(:last-child),
.submenu-goods .nav__item-link:not(:last-child) {
    margin-bottom: 1vh;
}

.submenu__link:hover,
.submenu__link-active {
    text-underline-position: under;
    border-bottom: 2px solid #B1B1B0;
}

/* MAIN */
/* SLIDER */
.main {
    margin-top: 18vh;
}

.header-slider {
    margin-bottom: 3rem;
}

.slider {
    position: relative;
}

.slider__wrapper--slide {
    display: flex;
    justify-content: space-between;
    background-image: url('./img/Фон\ слайдер-100.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
}

.slide {
    display: none;
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 0.5s;

}

.slide[data-active-slide] {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

.slide__info {
    width: 50vw;
    display: flex;
    align-items: flex-end;
}

.slide__info--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
    height: 100%;
    margin-left: 9%;

    color: #fff;
}

.slide__image {
    width: 50vw;
    overflow: hidden;
}

.slide__image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.slide__image--scroll {
    position: absolute;
    bottom: 6vh;
    right: 3rem;
    display: flex;
    width: 8rem;
    height: 4rem;
    background: #ffffff82;
}

.slide__info--subtitle {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.slide__info--title {    
    margin: 0;
    margin-bottom: 0.8rem;

    font-family: inherit;
    font-weight: 700;
    font-size: 3.8vw;
    text-transform: uppercase;
}

.slide__info--text {
    font-size: 1.1vw;
    line-height: 1.5vw;
    margin-bottom: 2.5rem;
}

.slide__info--button {
    font-size: 1.2vw;
    color:white;
}

.slide__info--button svg {
    transform: translateY(35%);
}

/* ABOUT */
.about {
    margin-bottom: 6rem;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 3rem;
}

.about__wrapper--info-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 2vw;
}

.info-text {
    display: flex;
    gap: 0 3rem;
}

.info-text__column {
    max-width: 26rem;
}

.info-text__column-text {
    margin-top: 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
}

.info-button {
    display: flex;
    justify-content: flex-end;
}

.info-button__link {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2vw;
    color: #000;
}

.info-button__link svg {
    transform: translateY(30%);
}

/* CATEGORIES */
.categories {
    margin-bottom: 1rem;
    padding-bottom: 7vh;
    background-image: url("./img/Фон\ галерея-100.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.categories__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories__head-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 2vw;
    text-transform: uppercase;
}

.categories__head-links {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2vw;
    text-transform: uppercase;
    color: #000;
}

.categories__head-links span {
    padding-right: 1rem;
}

.categories__head-links svg {
    transform: translateY(15%);
}

.categories__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex-wrap: wrap;
}

.categories__cards {
    position: relative;
    width: min-content;
}

.card {
    background-color: #06060699;
}

.card__link-img {
    width: 20.5vw;
    height: 38vh;
}

.card__text {
    position: relative;
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
}

.card__title {
    margin: 0;
    width: 74%;
    position: relative;
    font-family: inherit;
    font-weight: 700;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
}

.card__text svg {
    height: 2rem;
}

.active-card__link svg,
.card__link:active svg {
    position: absolute;
    right: -15px;
    padding: 0.5rem 2rem;
    height: 2rem;
    background-color: #b5292c;
}

.categories__scroll {
    display: none;
}

/* FOOTER */

.main-footer__wrapper {
    background-color: #06060699;
}

.main-footer__menu {
    display: flex;
    gap: 0 2rem;
    padding: 2rem 0;
    justify-content: space-between;
}

.main-footer__menu--logo {
    border-right: 1px dashed #ffffff61;
    padding-right: 3rem;
}

.address-footer__title,
.delivery-footer__title,
.contact-footer__title,
.subscription-footer__title {
    margin: 0;
    white-space: nowrap;
    font-family: inherit;
    font-weight: 700;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
}

.address-footer__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.address-footer__link {
    display: block;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.delivery-footer {
    min-width: 11rem;
}

.delivery-footer__text {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.delivery-footer__item-link {
    display: block;
    padding-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.contact-footer__title {
    margin-bottom: 1vw;
}

.contact-footer__phone {
    display: block;
    padding-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.contact-footer__phone-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.main-footer__supinfo {
    padding: 1vh 0;
    background-color: #2c2c2c;
}

.subscription-footer__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.subscription-footer__form {
    display: flex;
    flex-direction: column;
}

.subscription-footer__form-input {
    margin: 0.5rem 0 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b9b9b9;
    outline: none;
}

.subscription-footer__form-input::placeholder {
    color: white;
}

.subscription-footer__form-button {
    padding: 0.5rem 1.5rem;
    width: min-content;
    font-size: 1vw;
    color: white;
    border: none;
    background: #b5292c;
}

.supinfo__wrapper {
    display: flex;
    justify-content: space-between;
}

.supinfo__wrapper--info {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.supinfo__wrapper--info-name,
.supinfo__wrapper--info-privacyPolicy,
.supinfo__wrapper--info-oferta,
.supinfo__wrapper--info-text {
    font-family: inherit;
    font-weight: 400;
    color: white;
    font-size: 1vw;
}

.supinfo__wrapper--info-name,
.supinfo__wrapper--info-privacyPolicy,
.supinfo__wrapper--info-oferta {
    border-right: 1px dashed #ffffff61;
    padding-right: 1rem;
    font-size: 1vw;
}

.supinfo__wrapper--info-list {
    display: flex;
    gap: 0 1rem;
}

.facebook-footer,
.instagram-footer {
    fill:#b5292c;
}

.developers-name__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.nav-footer__border {
    display: none;
}

.nav-footer {
    display: none;
}

/* КАТЕГОРИИ */
.main-goods {
    margin-top: 20vh
}

.information {
    background-color: #F0F0F0;
    padding-bottom: 2vw;
}

.goods {
    margin-bottom: 1rem;
    padding: 1vw 0 3vw;
    background-color: #F0F0F0
}

.categories__head--goods {
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    
}

.categories__cards--good:hover {
    outline: 5px solid white;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}

.categories__head-title--goods {
    margin-bottom: 0;
}

.card__text--good {
    justify-content: center;
    text-align: center;
}

.card__title--good {
    width: 100%;
}

.card--good-add {
    display: none;
}

.categories__cards--good-printers:hover .card--good-add {
    display: block;
    position: absolute;
    left: -5px;
    z-index: 1;
    padding: 14px 12px 20px;
    background-color: white;
}

.categories__cards--good-printers:hover .card__text svg {
    display: none;
}

.good-add__form {
    display: flex;
    justify-content: space-between;
    gap: 4.2vw;
    margin-bottom: 1vw;
}

.good-add__form-label {
    width: 10vw;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 29px;
    color: #000000;
}

.good-add__form-input {
    width: 4vw;
    padding-left: 1vw;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 29px;
    color: #000000;
    background-color: #F0F0F0;
}

.good-add__form-input::-webkit-inner-spin-button { 
    opacity: 1;
    height: 4vh;
    background-color: #E4E4E4;
}

.good-add__button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2vw;
    font-family: inherit;
    font-weight: 800;
    font-size: 1vw;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    background: #B5292C;
}

/* Printers */
.goods--printers {
    margin-bottom: 1rem;
    padding: 1vw 0 1vw;
    background-color: #F0F0F0
}

/* About-us */
.main-about {
    margin-top: 20vh;
}

.about-us__information {
    margin-bottom: 3vw;
    height: 16vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/about-us.png')
}

.about-us__content {
    width: 65%;
}

.about-us__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 22px;
    color: #000000;
}

.benefits__title {
    font-weight: 700;
    font-size: 2vw;
    line-height: 42px;
    color: #000000;
}

@media (max-width: 1080px) {
    /* HEADER */
    .main-header {
        border: none;
    }

    .main-header-out{
        transform: none;
    }
    .main-header__supinfo {
        display: none;
    }

    .logo-header__img {
        max-width: 23vw;
        min-width: 100px;
    }

    .navigation__menu {
        height: 85px;
        padding: 0;
        flex-wrap: nowrap;
    }

    .navigation__menu-link {
        position: relative;
        flex-direction: column;
    }

    .menu-link__client {
        position: relative;
        display: flex;
        order: 1;
    }

    .menu-link__auth-mobil {
        position: absolute;
        top: 57px;
        right: -45.6vw;
        z-index: 1;
        order: 2;
        width: 80vw;
        display: flex;
        place-self: flex-start;
        justify-content: space-between;
        align-items: center;
        background-color: #a8a7a7f5;
        padding: 3vw 51.5vw 15vw 3vw;
    }

    .menu-link__auth-mobil__span {
        font-family: inherit;
        font-weight: 500;
        color: #000000;
        text-transform: uppercase;
        font-size: 2.2vw;
        line-height: 6vh;
    }

    .menu-link__nav {
        position: absolute;
        top: 18vh;
        right: -5.6vw;    
        z-index: 1;
        order: 3;
        width: 88.5vw;
        padding: 3vw;
        padding-bottom: 10vh;
        background-color: #c3c3c3f7;
    }

    .menu-link__info-mobil {
        position: absolute;
        top: 52vh;
        right: -20.6vw;
        z-index: 1;
        order: 4;
        display: flex;
        flex-direction: column;
        place-self: flex-start;
        width: 50vw;
        padding: 3vw 56.5vw 3vw 3vw;
        background-color: #c3c3c3f7;
    }

    .info-mobil__email,
    .info-mobil__phone {
        font-family: inherit;
        font-weight: 700;
        color: #000000;
        font-size: 2.2vw;
    }

    .info-mobil__email,
    .info-mobil__phone:nth-child(3) {
        margin-bottom: 3vh;
        font-weight: 500;
        font-size: 3.5vw;
    
    }

    .info-mobil__phone {
        font-weight: 500;
        font-size: 3.5vw;
    }

    .nav__list {
        flex-direction: column;
    }

    .info-mobil__social-facebook {
        padding-right: 2vw;
    }

    .nav-header__border {
        display: block;
        width: 91.5vw;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #a4a3a3;
    }    

    /* BUTTON MENU */
    .menu-link__client-button {
        display: flex;
        justify-self: flex-end;
        position: absolute;
        top: 0.2vh;
        right: 0vw;
        width: 30px;
        height: 24px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }

    .menu-link__client-button::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        box-shadow: 0 11px 0 0 #000, 0 23px 0 #000;
        transition: 0.3s;
    }

    .menu-link__close > .menu-link__auth-mobil, 
    .menu-link__close > .menu-link__nav, 
    .menu-link__close > .menu-link__info-mobil {
        display: none;
    }

    .menu-link__opened {
        display: flex;
    }

    .menu-link__opened .menu-link__client-button::before {
        transform: rotate(45deg);
        box-shadow: none;
        transition: 0.3s;
    }

    .menu-link__opened .menu-link__client-button::after {
        transform: rotate(-45deg);
        box-shadow: none;
        transition: 0.3s;
    }

    .menu-link__opened .menu-link__client-button::after, 
    .menu-link__opened .menu-link__client-button::before {
        content: "";
        position: absolute;
        top: 11px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: #000;
        /* transition: 0.3s; */
    }

    .link__auth {
        display: none;
    }

    .info-mobil__social {
        display: flex;
    }

    .menu-link__auth-mobil__span {
        font-size: 3.5vw;
        color: #000;
    }

    .menu-link__client--list {
        margin-right: 12vw;
        gap: 0 2vw;
    }

    .nav__item-link {
        font-weight: 500;
        font-size: 3.5vw;
        line-height: 6vh;
    }

    .facebook-mobil,
    .instagram-mobil {
        fill: #000;
    }

    /* SLIDER */
    .main {
        margin-top: 85px;
    }

    .slider__wrapper--slide {
        flex-direction: column;
        height: 120vh;
    }

    .slide__info, 
    .slide__image {
        width: auto;
        height: 60vh;
    }

    .slide__info--wrapper {
        margin-left: 3%;
    }

    .slide__info--subtitle {
        font-size: 2.2vw;
    }

    .slide__info--title {
        font-size: 5vw;
    }

    .slide__info--text {
        font-size: 2.2vw;
        line-height: 3vw;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .slide__info--button {
        font-size: 3vw;
    }

    /* ABOUT */ 

    .about__wrapper {
        flex-wrap: wrap;
    }    
 
    .about__wrapper--image,
    .about__wrapper--info {
        width: 100%;
    }
    
    .info-text {
        flex-direction: column;
    }

    .info-text__column {
        max-width: 100%;
    }

    .about__wrapper--info-title {
        font-size: 4vw;
    }

    .info-text__column-text {
        font-size: 3vw;
    }

    .info-button__link {
        font-size: 3.5vw;
    }

    /* CATEGORIES */
    .categories {
        margin-bottom: 1rem;
        padding: 2vh 0 4vh;
    }

    .categories__head {
        justify-content: center;
    }

    .categories__head-title {
        font-size: 4vw;
    }

    .categories__head-links {
        display: none;
    }

    /* .categories__cards:not(:first-child) {
        display: none;
    } */

    .categories__wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 3vh;
    }

    .categories__cards {
        display: none;
        transition: all 0.3s;
        transition-delay: 0.5s;
    
    }
    
    .categories__cards[data-active-card] {
        display: flex;
        transition: opacity 0.5s;
        transition-delay: 0.5s;
    }

    .card__link-img {
        width: 70vw;
    }

    .card__title {
        width: 70%;
        font-size: 3vw;
    }

    .categories__scroll {
        display: flex;
        width: 80vw;
        height: 4rem;
        justify-content: flex-end;
    }

    .categories__scroll-next,
    .categories__scroll-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }

    /* FOOTER */ 
    .main-footer__menu {
        flex-direction: column;
    }

    .main-footer__menu--logo {
        margin-bottom: 3vh;
        border: none;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;       
    }

    .nav-footer__border {
        display: block;
        width: 18vw;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed #ffffff61;
    }

    .nav-footer__item-link {
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
        line-height: 5.5vh;
        margin-top: 0;
        margin-bottom: 1rem;
        color: #fff;
        text-transform: uppercase;
    }

    .address-footer__title {
        margin-bottom: 2vh;
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
    }

    .address-footer__text {
        font-size: 3.1vw;
    }

    .address-footer__link {
        font-size: 3.1vw;
    }

    .delivery-footer__title {
        padding-bottom: 1vh;
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
    }

    .delivery-footer__text,
    .delivery-footer__list,
    .contact-footer__title,
    .subscription-footer__text {
        display: none;
    }

    .contact-footer__phone {
        font-size: 4vw;
    }

    .contact-footer__phone-text {
        margin-bottom: 1vh;
        font-size: 3.1vw;
    }

    .subscription-footer__title {
        margin-bottom: 3vh;
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
    }

    .subscription-footer__form-input {
        font-size: 3.1vw;
    }

    .subscription-footer__form-button {
        font-size: 3.1vw;
    }

    .supinfo__wrapper {
        flex-direction: column;
    }

    .supinfo__wrapper--info {
        flex-direction: column;
    }

    .supinfo__wrapper--info-name, 
    .supinfo__wrapper--info-privacyPolicy,
    .supinfo__wrapper--info-oferta {
        margin-bottom: 0;
        padding-right: 0;
        border: none;
        font-size: 3.1vw;
    }

    .supinfo__wrapper--info-privacyPolicy {
        margin-bottom: 3vh;
    }
    
    .supinfo__wrapper--info-text {
        font-size: 3.1vw;
    }

    .supinfo__wrapper--developers-name {
        display: flex;
        justify-content: center;
    }

    .developers-name__text {
        font-size: 3.1vw;
    }
}