@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("./source/fonts/Lato-Thin.ttf") format("ttf");
    font-display: swap; /* чтобы шрифт не блокировался и имел бесконечный период подмены */
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("./source/fonts/Lato-Regular.ttf") format("ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("./source/fonts/Lato-Medium.ttf") format("ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    src: url("./source/fonts/Lato-Heavy.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("./source/fonts/Lato-Bold.ttf") format("ttf");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 0.8vw;
    font-weight: 400;
    color: #000000;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

  .container {
    width: 90vw;
    margin: 0 auto;
  }

  .button {
    cursor: pointer;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.link {
    text-decoration: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.scroll {
    position: absolute;
    bottom: 2rem;
    right: 2.9rem;
    display: flex;
    width: 12rem;
    height: 6rem;
    background: #ffffff82;
}

.scroll-prev,
.scroll-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    height: 6rem;
    cursor: pointer;
    background: #ffffff82;
}

.scroll-next svg,
.scroll-prev svg {
    height: 2rem;
}

.scroll-next {
    background-color: #ffffff;
}

.scroll-next svg {
    fill: #000;
}

.scroll-prev svg {
    transform: rotate(180deg);
}

.scroll-prev:active,
.scroll-next:active {  
    background-color: #b5292c;
}

.scroll-prev:active svg,
.scroll-next:active svg {
   fill: #fff;
}

.news__scroll-prev, 
.news__scroll-next {
    transform: translate(0, 5vw);
    background: transparent;
    position: relative;
}

.news__wrapper .news__scroll-prev::after, 
.news__wrapper .news__scroll-next::after {
    color: #CBCACA;
}

.news__scroll-prev:hover,
.news__scroll-next:hover,
.news__scroll-prev:active,
.news__scrol-nextl:active {
    min-width: 64px;
    min-height: 64px;
    background: #969797;
}

.news__wrapper .news__scroll-prev:hover::after,
.news__wrapper .news__scroll-next:hover::after,
.news__wrapper .news__scroll-prev:active::after,
.news__wrapper .news__scroll-next:active::after {
    color: white;
}

.breadcrumbs {
    display: flex;
    position: relative;
}

.breadcrumbs-item:not(:last-child) {
    padding-right: 1.2vw;
}

.breadcrumbs-item::after {
    position: absolute;
    top: 0.3vh;
    left: 4.9vw;
    display: block;
    width: 15px;
    height: 24px;
    content: "";
    background-image: url('./svg/icon-line.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.breadcrumbs-link {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    /* font-size: 1.6rem; */
    font-size: 1.3vw;
    line-height: 29px;
    color: #656666;
}

.active-breadcrumbs::after {
}

.categories__pagination-bottom {
    display: flex;
    justify-content: center;
    margin: 45px;
    padding-top: 45px;
}

.pagination-list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

.pagination-link {
    display: flex;
    min-width: 20px;
    padding: 4px 2px;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #B1B1B0;
}

.pagination-icon {
    height: 20px;
}

.categories__filter--wrapper {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.categories__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.categories__filter-form {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #656666;
}

.categories__filter-form::after {
    content: "|";
    position: absolute;
    right: -14px;
    color: #808080;
}

.form-select {
    margin-right: 0.5vw;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #656666;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.categories__filter--number {
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #B1B1B0;
}

.categories__filter--number-text,
.categories__filter--number-one {
    color: #656666;
}


/* HEADER */
.main-header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.main-header__wrapper {
    background: white;
}

.main-header__supinfo {
    height: 46px;
    background-color: #b5292c;   
}

.supinfo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 6px;
    font-family: inherit;
    font-weight: 300;
    color: white;
    transition: all 0.3s;
}

.main-header-out {
    transform: translateY(-30%);
    transition-duration: 0.3s;
}

.main-header-out .logo-header__img {
    width: 10vw;
}

.main-header-out .main-header__wrapper {
    background: #ffffffe0;
    border-bottom: solid 0.4vh rgba(51, 51, 51, 0.5);
    transition: all 0.3s;
}

.supinfo-text {
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    /* font-size: 1.18rem; */
    font-size: 0.96vw;
    text-transform: uppercase;
}

.supinfo-data {
    display: flex;
    /* gap: 21.2rem; */
    gap: 17.8vw;
    align-items: center;
}

.supinfo-data__text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form-head__select {
    outline: none;
    border: none;
    width: 6.2rem;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    /* font-size: 1.18rem; */
    font-size: 0.96vw;
    letter-spacing: -0.55px;
    color: white;
    cursor: pointer;
    background: url("./svg/icon-arrow-white.svg") no-repeat right;
    -webkit-appearance: none;
}

.form-head__select option {
    height: 2vh;
    border: 1px solid #B1B1B0;
    color:#000;
}

.supinfo-data__social {
    display: flex;
    gap: 0 10rem;
    align-items: center;
}

.supinfo-data__social-link {
    display: flex;
    /* gap: 0.6rem; */
    gap: 10px;
}

.facebook-header,
.instagram-header {
    fill: #fff;
}

.facebook-header:hover,
.facebook-header:active,
.instagram-header:hover,
.instagram-header:active {
    opacity: 0.7;
}

.supinfo-data__text-link {
    font-family: inherit;
    font-weight: 500;
    /* font-size: 1.18rem; */
    font-size: 0.96vw;
    color: white;
}

.supinfo-data__social-tel {
    position: relative;
    width: auto;
    font-family: inherit;
    font-weight: 500;
    /* font-size: 1.18rem; */
    font-size: 0.96vw;
    color: white;
}

.supinfo-data__social-tel::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: white;
}

.supinfo-data__social-tel:hover,
.supinfo-data__social-tel:active {
    opacity: 0.6;
}

.navigation__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0 0.6rem;
    justify-content: space-between;
    align-items: center;
}

.logo-header__img {
    width: auto;
    max-width: 20vw;
}

.logo-header__img:hover,
.logo-header__img:active {
    opacity: 0.7;
}

.menu-link {
    display: flex;
    /* gap: 0 4.5rem; */
    gap: 0 3.7vw;
    align-items: center;
}

.menu-link__auth-mobil {
    display: none;
}

.nav__list {
    display: flex;
    gap: 0 0.5rem;
}

.nav__item {
    position: relative;
}

.nav__item-link {
    padding: 0.9rem 0.6rem;
    font-family: inherit;
    font-weight: 700;
    /* font-size: 1.3rem; */
    font-size: 1.1vw;
    color:#000000;
    text-transform: uppercase;
}

.nav__active {
    position: relative;
}

.nav__active-current-link::after,
.nav__active:hover::after,
.nav__active:active::after,
.nav__active:focus::after,
.nav__active:focus-within::after,
.nav__active-link::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #b5292c;
}

.menu-link__client--list {
    display: flex;
    gap: 0 1.5rem;
}

.link__auth:hover,
.link__card:hover,
.link__search:hover {
    opacity: 0.6;
}

.menu-link__client-button {
    display: none;
}

.menu-link__info-mobil {
    display: none;
}

.nav-header__border {
    display: none;
}

.submenu {
    display: none;
}

.nav__active:hover>.submenu-about,
.nav__item:hover>.submenu-about, 
.nav__item:active>.submenu-about, 
.nav__item:focus-within .submenu-about,
.nav__item:hover>.submenu-goods, 
.nav__item:active>.submenu-goods, 
.nav__item:focus-within .submenu-goods {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 8px;
    width: 25vw;
    padding: 30px 30px 30px 0px;
    border: 1px solid #B1B1B0;
    background: white;
}

.submenu-about .nav__item-link:not(:last-child),
.submenu-goods .nav__item-link:not(:last-child) {
    margin-bottom: 1vh;
}

.submenu__link {
    position: relative;
}

.submenu__link:hover::after,
.submenu__link-active::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #B1B1B0;
}

/* MAIN */
/* SLIDER */
.main {
    margin-top: 152px;
}

.header-slider {
    position: relative;
    margin-bottom: 3rem;
    z-index: 0;
}

.slider {
    background: #656666;
}

.slide {
    max-height: 36rem;
    display: flex;
    justify-content: space-between;
    background-image: url('./img/Фон\ слайдер-100.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide__info {
    display: flex;
    align-items: flex-end;
    width: 47.3vw;
    margin: auto;
}

.slide__info--wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 66%;
    height: 100%;
    margin-left: 11%;
    color: #fff;
}

.slide__image {
    width: 52.7vw;
    overflow: hidden;
}

.slide__image img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: black;
}

.scroll-prev:active.swiper-button-prev:after, 
.scroll-next:active.swiper-button-next:after {
    color: #fff;
}

.slide__info--subtitle {
    margin-bottom: 2rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.slide__info--title {    
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 800;
    font-size: 3vw;
    line-height: 75px;
    text-transform: uppercase;
}

.slide__info--text {
    width: 80%;
    font-size: 1.18rem;
    line-height: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 2.5rem;
}

.slide__info--button {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    font-size: 1.55rem;
    color:white;
}

.slide__info--button svg {
    transform: translateY(35%);
}

/* ABOUT */
.about {
    margin-bottom: 4rem;
}

.about__wrapper {
    display: flex;
    gap: 0 3.3rem;
}

.about__wrapper--info-title {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 2vw;
}

.about__wrapper--info {
    display: flex;
    flex-direction: column;
}

.about__wrapper--image {
    height: auto;
}

.info-text {
    display: flex;
    gap: 0 3.5rem;
}

.info-text__column {
    max-width: 36.5rem;
}

.info-text__column .info-text__column-text:not(:last-child) {
    margin-bottom: 2rem;
}

.info-text__column-text {
    font-family: inherit;
    font-weight: 400;
    /* font-size: 1.18rem; */
    font-size: 1vw;
    line-height: 27px;
}

.info-button {
    display: flex;
    justify-content: flex-end;
}

.info-button__link {
    font-family: inherit;
    font-weight: 700;
    /* font-size: 1.5rem; */
    font-size: 1.2vw;
    color: #000;
}

.info-button__link svg {
    transform: translateY(30%);
}

/* CATEGORIES */
.categories {
    margin-bottom: 1rem;
    padding-bottom: 11vh;
    background-image: url("./img/Фон\ галерея-100.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.categories__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 2rem;
}

.categories__head-title {
    margin-bottom: 1.6rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 2.3rem;
    font-size: 1.95vw;
    text-transform: uppercase;
}

.categories__head-links {
    display: flex;
    align-items: flex-end;
    font-family: inherit;
    font-weight: 700;
    /* font-size: 1.6rem; */
    font-size: 1.33vw;
    text-transform: uppercase;
    color: #000;
}

.categories__head-links span {
    padding-right: 1rem;
}

.categories__head-links svg {
    transform: translateY(15%);
}

.categories__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

.categories__cards {
    position: relative;
    width: min-content;
}

.cards {
    z-index: 0;
}

.card {
    background-color: #06060699;
}

.card__link-img {
    width: 21.5vw;
    min-height: 265px;
}

.card__text {
    position: relative;
    display: flex;
    padding: 1.6rem 1.2rem 1.2rem;
    align-items: center;
    justify-content: space-between;
    min-height: 49px;
}

.card__title {
    margin: 0;
    width: 78%;
    position: relative;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.27rem;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
}

.active-card__link .card__text-icons,
.card__text-icons:hover,
.card__text-icons:active {
    position: absolute;
    right: -17px;
    /* padding: 0.5rem 2.6rem 0.5rem; */
    padding: 0.5vw 2.6vw;
    background-color: #b5292c;
    z-index: 2;
}

.active-card__link svg,
.card__text-icons svg:hover,
.card__text-icons svg:active {
    /* position: absolute;
    left: 38px;
    top: 11px; */
}

.categories__scroll {
    display: none;
}

/* FOOTER */

.main-footer__wrapper {
    background-color: #06060699;
}

.main-footer__menu {
    display: flex;
    gap: 0 2rem;
    padding: 3rem 0 3.4rem;
    justify-content: space-between;
}

.main-footer__menu--logo {
    border-right: 1px dashed #ffffff61;
    padding-right: 6rem;
}

.address-footer__title,
.delivery-footer__title,
.contact-footer__title,
.subscription-footer__title {
    margin: 0;
    white-space: nowrap;
    font-family: inherit;
    font-weight: 700;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
}

.address-footer__text {
    margin-bottom: 1.8rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.address-footer__link {
    display: block;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.delivery-footer {
    min-width: 11rem;
}

.delivery-footer__text {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.delivery-footer__item-link {
    display: block;
    padding-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.contact-footer__title {
    margin-bottom: 1vw;
}

.contact-footer__phone {
    display: block;
    padding-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.contact-footer__phone-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.main-footer__supinfo {
    padding: 1rem 0;
    background-color: #2c2c2c;
}

.subscription-footer__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
}

.subscription-footer__form {
    display: flex;
    flex-direction: column;
}

.subscription-footer__form-input {
    margin: 0.5rem 0 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1vw;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b9b9b9;
    outline: none;
}

.subscription-footer__form-input::placeholder {
    color: white;
}

.subscription-footer__form-button {
    padding: 0.5rem 1.5rem;
    width: min-content;
    font-size: 1vw;
    color: white;
    border: none;
    background: #b5292c;
}

.supinfo__wrapper {
    display: flex;
    justify-content: space-between;
}

.supinfo__wrapper--info {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.supinfo__wrapper--info-name,
.supinfo__wrapper--info-privacyPolicy,
.supinfo__wrapper--info-oferta,
.supinfo__wrapper--info-text {
    font-family: inherit;
    font-weight: 700;
    color: white;
    font-size: 1vw;
}

.supinfo__wrapper--info-name,
.supinfo__wrapper--info-privacyPolicy,
.supinfo__wrapper--info-oferta {
    border-right: 1px dashed #ffffffa8;
    padding-right: 0.3rem;
    /* font-size: 1.23rem; */
    font-size: 1vw;
}

.supinfo__wrapper--info-list {
    display: flex;
    gap: 0 1rem;
}

.facebook-footer,
.instagram-footer {
    width: 35px;
    height: auto;
    fill:#b5292c;
}

.developers-name__text {
    font-family: inherit;
    font-weight: 700;
    /* font-size: 1.23rem; */
    font-size: 1vw;
    color: white;
}

.nav-footer__border {
    display: none;
}

.nav-footer {
    display: none;
}

.information {
    background-color: #F0F0F0;
    padding-bottom: 2vw;
}

.goods {
    margin-bottom: 1rem;
    padding: 1vw 0 8vw;
    background-color: #F0F0F0
}

.categories__wrapper--good {
    grid-template-columns: repeat(auto-fit, 290px);
    gap: 3%;
}

.categories__head--goods {
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.categories__cards--good:hover {
    outline: 5px solid white;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}

.categories__head-title--goods {
    margin-top: 2rem;
    margin-bottom: 0;
    /* font-size: 2.7rem; */
    font-size: 2.3vw;
}

.card__text--good {
    justify-content: center;
    text-align: center;
}

.card__title--good {
    width: 100%;
}

.card__link-img--good {
    width: 290px;
    height: 300px;
}

.card--good-add {
    display: none;
}

.categories__cards--good-printers:hover .card--good-add {
    display: block;
    position: absolute;
    left: -5px;
    z-index: 1;
    padding: 14px 13px 20px;
    background-color: white;
}

.categories__cards--good-printers:hover .card__text svg {
    display: none;
}

.good-add__form {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    margin-bottom: 1vw;
}

.good-add__form-label {
    width: 10vw;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 29px;
    color: #000000;
}

.good-add__form-input {
    width: 4vw;
    padding-left: 1vw;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 29px;
    color: #000000;
    background-color: #F0F0F0;
}

/* .good-add__form-input::-webkit-inner-spin-button { 
    opacity: 1;
    height: 4vh;
    background-color: #E4E4E4;
} */

.good-add__button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2vw;
    font-family: inherit;
    font-weight: 800;
    font-size: 1vw;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    background: #B5292C;
}

.goods--printers {
    margin-bottom: 1rem;
    padding: 1vw 0 1vw;
    background-color: #F0F0F0
}

.about-us {
    margin-bottom: 4.2rem;
}

.about-us__information {
    margin-bottom: 1vw;
    min-height: 9rem;
    height: 16vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/about-us.png')
}

.about-us__content {
    margin-left: 5rem;
    width: 63%;
}

.about-us__text {
    font-family: inherit;
    font-weight: 400;
    /* font-size: 1.2rem; */
    font-size: 1vw;
    line-height: 26px;
    color: #000000;
}

.benefits {
    margin-bottom: 3rem;
}

.benefits__title {
    margin-left: 5rem;
    font-weight: 700;
    /* font-size: 2.3rem; */
    font-size: 1.9vw;
    line-height: 42px;
    color: #000000;
}

.benefits__list {
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin: 0 7rem;
}

.benefits__item {
    text-align: center;
}

.benefits__item-img {
    margin-bottom: 1rem;
}

.benefits__item-text {
    font-weight: inherit;
    font-weight: 700;
    /* font-size: 1.6rem; */
    font-size: 1.4vw;
    line-height: 30px;
    color: #000000;
}

.news {
    margin-bottom: 1rem;
    padding: 1vw 0 3vw;
    background: #F0F0F0;
}

.news__head  {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.news__head-title {
    margin-top: 0;
    /* font-size: 2.3rem; */
    font-size: 1.8vw;
}

.news__wrapper {
    display: flex;
    gap: 2vw;
    z-index: 0;
}

.news__wrapper-cards {
    display: flex;
    width: 86%;
}

/* .news__cards {
    width: 450px!important;
} */

.news__card {
    width: 18vw;
}

.news__link-img {
    width: 100%;
}

.news__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.6vw;
    line-height: 30px;
    color: #000000;
}

.news__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 22px;
    color: #000000;
}

.news__text--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__text--footer-span {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.6vw;
    line-height: 30px;
    color: #B1B1B0;
}

/* .news__wrapper-cards .swiper-slide {
    width: 30%!important;
} */

.news__text--footer-link {
    display: flex;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 23px;
    color: #4D4D4D;
}

.news__text--footer-link svg {
    fill:  #656666;
}

.goods--printer {
    background: #F0F0F0;
}

.goods--printer__wrapper {
    display: flex;
}

.goods__slider {
    width: 50vw;
    z-index: 0;
}

.goods--printer__info {
    width: 50vw;
}

.goods-add__form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1080px) {
    .main-header {
        border: none;
        box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 10%);
    }

    .main-header-out{
        transform: none;
    }
    .main-header__supinfo {
        display: none;
    }

    .logo-header__img {
        max-width: 23vw;
        min-width: 100px;
    }

    .navigation__menu {
        height: 85px;
        padding: 0;
        flex-wrap: nowrap;
    }

    .navigation__menu-link {
        position: relative;
        flex-direction: column;
    }

    .menu-link__client {
        position: relative;
        display: flex;
        order: 1;
    }

    .menu-link__auth-mobil {
        position: absolute;
        top: 57px;
        right: -45.6vw;
        z-index: 1;
        order: 2;
        width: 80vw;
        display: flex;
        place-self: flex-start;
        justify-content: space-between;
        align-items: center;
        background-color: #a8a7a7f5;
        padding: 3vw 51.5vw 15vw 3vw;
    }

    .menu-link__auth-mobil__span {
        font-family: inherit;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 6vh;
        font-size: 3.5vw;
        color: #000;
    }

    .menu-link__nav {
        position: absolute;
        top: 18vh;
        right: -5.6vw;    
        z-index: 1;
        order: 3;
        width: 88.5vw;
        padding: 3vw;
        padding-bottom: 10vh;
        background-color: #c3c3c3f7;
    }

    .menu-link__info-mobil {
        position: absolute;
        top: 52vh;
        right: -20.6vw;
        z-index: 1;
        order: 4;
        display: flex;
        flex-direction: column;
        place-self: flex-start;
        width: 50vw;
        padding: 3vw 56.5vw 3vw 3vw;
        background-color: #c3c3c3f7;
    }

    .info-mobil__email,
    .info-mobil__phone {
        font-family: inherit;
        font-weight: 700;
        color: #000000;
        font-size: 2.2vw;
    }

    .info-mobil__email,
    .info-mobil__phone:nth-child(3) {
        margin-bottom: 3vh;
        font-weight: 500;
        font-size: 3.5vw;
    
    }

    .info-mobil__phone {
        font-weight: 500;
        font-size: 3.5vw;
    }

    .nav__list {
        flex-direction: column;
    }

    .info-mobil__social-facebook {
        padding-right: 2vw;
    }

    .nav-header__border {
        display: block;
        width: 91.5vw;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #a4a3a3;
    }    

    .menu-link__client-button {
        display: flex;
        justify-self: flex-end;
        position: absolute;
        top: 0.2vh;
        right: 0vw;
        width: 30px;
        height: 24px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }

    .menu-link__client-button::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        box-shadow: 0 11px 0 0 #000, 0 23px 0 #000;
        transition: 0.3s;
    }

    .menu-link__close > .menu-link__auth-mobil, 
    .menu-link__close > .menu-link__nav, 
    .menu-link__close > .menu-link__info-mobil {
        display: none;
    }

    .menu-link__opened {
        display: flex;
    }

    .menu-link__opened .menu-link__client-button::before {
        transform: rotate(45deg);
        box-shadow: none;
        transition: 0.3s;
    }

    .menu-link__opened .menu-link__client-button::after {
        transform: rotate(-45deg);
        box-shadow: none;
        transition: 0.3s;
    }

    .menu-link__opened .menu-link__client-button::after, 
    .menu-link__opened .menu-link__client-button::before {
        content: "";
        position: absolute;
        top: 11px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: #000;
    }

    .link__auth {
        display: none;
    }

    .info-mobil__social {
        display: flex;
    }

    .menu-link__client--list {
        margin-right: 12vw;
        gap: 0 2vw;
    }

    .nav__item-link {
        font-weight: 500;
        font-size: 3.5vw;
        line-height: 6vh;
    }

    .facebook-mobil,
    .instagram-mobil {
        fill: #000;
    }

    .main {
        margin-top: 85px;
    }

    .slide {
        flex-direction: column;
        min-height: 1000px;
        height: 120vh;
    }

    .slide__info, 
    .slide__image {
        width: auto;
        height: 60vh;
    }

    .slide__info--wrapper {
        margin-left: 3%;
    }

    .slide__info--subtitle {
        font-size: 2.2vw;
    }

    .slide__info--title {
        font-size: 5vw;
    }

    .slide__info--text {
        font-size: 2.2vw;
        line-height: 3vw;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .slide__info--button {
        font-size: 3vw;
    }

    .about__wrapper {
        flex-wrap: wrap;
    }    
 
    .about__wrapper--image,
    .about__wrapper--info {
        width: 100%;
    }
    
    .info-text {
        flex-direction: column;
    }

    .info-text__column {
        max-width: 100%;
    }

    .about__wrapper--info-title {
        font-size: 4vw;
    }

    .info-text__column-text {
        font-size: 3vw;
    }

    .info-button__link {
        font-size: 3.5vw;
    }

    .categories {
        margin-bottom: 1rem;
        padding: 2vh 0 4vh;
    }

    .categories__head {
        justify-content: center;
    }

    .categories__head-title {
        font-size: 4vw;
    }

    .categories__head-links {
        display: none;
    }

    .categories__wrapper {
        display: flex;
        gap: 0;
        flex-wrap: nowrap;
        padding-bottom: 95px;
    }

    .categories__cards {
        display: flex;
        justify-content: center;
    }

    .categories__card {
        width: 561px;
        min-height: 563px;
    }

    .card__link {
        width: auto;
    }

    .card__link-img {
        width: auto;
        min-height: 563px;
    }

    .card__title {
        width: 70%;
        font-size: 3vw;
    }

    .categories__scroll {
        right: -2vw;
        bottom: 2vh;
        display: flex;
        width: 9rem;
        height: 4rem;
        justify-content: flex-end;
        background: transparent;
    }

    .categories__scroll-next,
    .categories__scroll-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }

    .main-footer__menu {
        flex-direction: column;
    }

    .main-footer__menu--logo {
        margin-bottom: 3vh;
        border: none;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;       
    }

    .nav-footer__border {
        display: block;
        width: 18vw;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed #ffffff61;
    }

    .nav-footer__item-link {
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
        line-height: 5.5vh;
        margin-top: 0;
        margin-bottom: 1rem;
        color: #fff;
        text-transform: uppercase;
    }

    .address-footer__title {
        margin-bottom: 2vh;
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
    }

    .address-footer__text {
        font-size: 3.1vw;
    }

    .address-footer__link {
        font-size: 3.1vw;
    }

    .delivery-footer__title {
        padding-bottom: 1vh;
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
    }

    .delivery-footer__text,
    .delivery-footer__list,
    .contact-footer__title,
    .subscription-footer__text {
        display: none;
    }

    .contact-footer__phone {
        font-size: 4vw;
    }

    .contact-footer__phone-text {
        margin-bottom: 1vh;
        font-size: 3.1vw;
    }

    .subscription-footer__title {
        margin-bottom: 3vh;
        font-family: inherit;
        font-weight: 700;
        font-size: 3.1vw;
    }

    .subscription-footer__form-input {
        font-size: 3.1vw;
    }

    .subscription-footer__form-button {
        font-size: 3.1vw;
    }

    .supinfo__wrapper {
        flex-direction: column;
    }

    .supinfo__wrapper--info {
        flex-direction: column;
    }

    .supinfo__wrapper--info-name, 
    .supinfo__wrapper--info-privacyPolicy,
    .supinfo__wrapper--info-oferta {
        margin-bottom: 0;
        padding-right: 0;
        border: none;
        font-size: 3.1vw;
    }

    .supinfo__wrapper--info-privacyPolicy {
        margin-bottom: 3vh;
    }
    
    .supinfo__wrapper--info-text {
        font-size: 3.1vw;
    }

    .supinfo__wrapper--developers-name {
        display: flex;
        justify-content: center;
    }

    .developers-name__text {
        font-size: 3.1vw;
    }
}